* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    background-color: red;
    height: 100vh;
    width: 150px;
}

.menu li {
    display: block;
    padding: 15px;
}

.dropdown-content{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-content li {
    display: block;
    background-color: #a90000;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    margin-left: 135px;
}