* {
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.photos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.post {
    height: 250px;
    margin: 6px;
    border: 1px solid black;
    border-radius: 6px;
}

.post img {
    height: 200px;
    width: 400px;
}

.post .interaction {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.post:hover {
    transform: scaleY(1.1);

    transition: ease-in-out 0.2s;
}