<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="content">
        <h1>Cadastro</h1>
        <form action="../src/cadastro.php" method="post" class="form-group">
            <div class="input-box">
                <input type="text" name="nomeuser" placeholder="Nome" minlength="8" required>
            </div>
            <div class="input-box">
                <input type="text" name="cpfuser" id="" placeholder="CPF" minlength="11" maxlength="11" required>
            </div>
            <div class="input-box">
                <input type="text" name="telefoneuser" placeholder="Telefone" maxlength="15" required>
            </div>
            <div class="input-box">
                <input type="text" name="emailuser" placeholder="E-mail" min="10" required>
            </div>
            <div class="input-box">
                <input type="password" name="passuser" id="" placeholder="Senha" min="8" required>
            </div>
            <button type="submit" id="submit">Cadastrar</button>
        </form>
        <p>Já se cadastrou? <a href="login.html"><strong>Entre!</strong></a></p>
    </div>
</body>
</html>